

style{
    white-space: pre;
}

body {
    margin: 1rem;
}
.nav-link{
    font-size: 8pt;
}
code {
    margin: 1rem 3rem 3rem 3rem;
    padding: 2rem;
}
h1{
    scroll-padding-top: 50px;
    border-top-width: 0.1rem;
    border-top-style: solid;
    border-color: black;
    padding: 1rem 0rem 0rem 3rem
}
nav{
    opacity: 0.1;
    transition: opacity 0.5s ease-in-out;
}
nav:hover{
    opacity: 1;
    transition: opacity 0.1s ease-in-out;

}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    h1 {
        color: grey;
        border-color: grey;
    }
}
.hljs-title,.function_{
    color:rgb(253, 253, 176) !important;
}
.language_{
    color:rgb(133, 213, 239) !important;

}